<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <profiles>
    <profile>
      <id>default</id>
      <repositories>
        <repository>
          <id>release</id>
          <name>release</name>
          <url>http://18.157.161.147:8081/artifactory/lary-libs-release</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>snapshot</id>
          <name>snapshot</name>
          <url>http://18.157.161.147:8081/artifactory/lary-libs-snapshot</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>
  <servers>
    <server>
      <id>release</id>
      <username>admin</username>
<password>{XOBKpQfGsLkH6dxlYrnmir1PoPbG5+4c4Mm0tFC5AJ4=}</password>
    </server>
    <server>
      <id>snapshot</id>
      <username>admin</username>
<password>{XOBKpQfGsLkH6dxlYrnmir1PoPbG5+4c4Mm0tFC5AJ4=}</password>
    </server>
  </servers>
</settings>
